.contenedor{
    margin-bottom: 20px;
    background-color: #0d6efd;
    color: #fff;
}

/* Todos los elementos div que esten directamente adentro */
.contenedor > div{
    background-color: rgba(255, 255, 255, .2);
    padding: 15px;
    border: 1px solid #0d6efd;
}

.contenedor1{
    margin-bottom: 20px;
    background-color: #0d6efd;
    color: #fff;
    min-height: 100px;
}

.contenedor1 > div{
    background-color: rgba(255, 255, 255, .2);
    padding: 15px 20px;
    border: 1px solid #0d6efd;
}


    